.details {
	width: 400px;
	margin: 10px auto;
}

.status {
	margin: 5px;
	display: grid;
	grid-template-columns: 25% 15% 60%;
}

.status-output {
	margin: 0;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
}

.valid {
	background-color: #aed7fc;
	color: #0000ff;
}

.invalid {
	background-color: #ffa3a3;
	color: #ff0000;
}

.solved {
	background-color: #b3ffa0;
	color: #2d7c00;
}