.cell-input-dark {
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	color: white;
	border-color: white;
	background-color: transparent;
}
.cell-input-bold-dark {
	text-align: center;
	background-color: darkgray;
	font-weight: bold;
	font-size: 20px;
	color: white;
	border-color: white;
}
.cell-input-light {
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	color: black;
	border-color: black;
	background-color: transparent;
}
.cell-input-bold-light {
	text-align: center;
	background-color: lightgray;
	font-weight: bold;
	font-size: 20px;
	color: black;
	border-color: black;
}