.info {
	width: 530px;
	margin: 5px auto;
	padding: 5px;
}
.invalid {
	margin: 0;
	background-color: #ffa3a3;
	color: #ff0000;
}
.valid {
	margin: 0;
	background-color: #aed7fc;
	color: #0000ff;
}
.solved {
	margin: 0;
	background-color: #b3ffa0;
	color: #2d7c00;
}
.notes {
	width: 500px;
	padding: 5px 15px 5px 15px;
	text-align: left;
	background-color: #f9fc9f;
	color: #ff8800;
}
.notes p,ol {
	margin: 0;
}