.grid {
	width: 504px;
	height: 504px;
	margin: 5px auto;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 33.33% 33.33% 33.33%;
	grid-gap: 0;
	padding: 0;
	background-color: transparent;
	border: 8px solid;
}

.grid-border-light {
	border-color: black;
}

.grid-border-dark {
	border-color: white;
}