.buttons-light {
	color: black;
	margin: 0 2px;
	background-color: transparent;
	border: 3px solid black;
	border-radius: 7px;
}

.buttons-light:hover {
	background-color: black;
	color: white;
}

.buttons-dark {
	color: white;
	margin: 0 2px;
	background-color: transparent;
	border: 3px solid white;
	border-radius: 7px;
}

.buttons-dark:hover {
	background-color: white;
	color: black;
}