.box {
	margin: 0;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 33.33% 33.33% 33.33%;
	grid-gap: 0;
	padding: 0;
	background-color: transparent;
	border-width: 3.5px;
}

.box-border-left {
	border-left-style: solid;
}

.box-border-right {
	border-right-style: solid;
}

.box-border-top {
	border-top-style: solid;
}

.box-border-bottom {
	border-bottom-style: solid;
}

.box-border-dark {
	border-color: white;
}

.box-border-light {
	border-color: black;
}